<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  
  <!-- Message Block -->
  <%- messages() %>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
    </ul>
<% } %>
  
  <form id="add-class-form" action="/inv/add-classification" method="post" class="form-container">
    <p>This field is required</p>
    <label for="classification-name">Classification Name</label>
    <span>(Must be only alphabetic characters)</span>
    <input type="text" id="classification-name" name="classification_name" 
    placeholder="Enter classification name" pattern="^[A-Za-z]+$" required
    value="<%= locals.classification_name %>">
    
    <button type="submit">Add Classification</button>
  </form>