<nav>
    <ul>
        <li>Home</a></li>
        <li>Custom</li>
        <li> Sedan</li>
        <li> SUV</li>
        <li>Truck</li>
    </ul>
</nav>
<!-- Compare this snippet from views/layouts/partials/header.ejs: -->